html {
  position: relative;
  min-height: 100%;
}

#body {
  padding-top: 0px;
}


.navbar-custom.affix {
    background-color: #222;
    /*padding: 0 0;*/
	top: 0;
	right: 0;
	left: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    /*border: 1px solid #080808;*/
	border-radius: 0;
}

@media (min-width: 768px) {
#body {
    /*padding-top: 110px;*/ /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-custom.affix-top {
    background-color: black;/*transparent;*/
    /*padding: 0 0;*/
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    /*border: none;*/
}
/*
.navbar-custom.affix-top li a{
	color: black;
}

.navbar-custom.affix-top li .dropdown-menu li a {
	color: #333;
}

.navbar-custom.affix-top li .dropdown-menu .active a, .navbar-custom.affix-top li .dropdown-menu .active a:hover, .navbar-custom.affix-top li .dropdown-menu .active a:focus {
	color: #fff;
}

.navbar-custom.affix-top .active a, .navbar-custom.affix-top .active a:hover,.navbar-custom.affix-top .open a:focus{
	background-color: #265984;
}*/
}

@media (max-width: 767px) {
.navbar-custom.affix-top {
	position: fixed;
    top: 0;
	right: 0;
	left: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
}

@media (min-width: 1200px) {
#body {
    /*padding-top: 70px;*/ /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
}

#footer {
  background-color: black;
  border-color: black;
}

#footer.footerbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 5px;
  padding: 10px 5px 0px;
  /*background-color: #f5f5f5;*/
}

footer {
    margin: 0;
}

.fixed-bottom , .scroll-to-top
{
    bottom: 0;
	position: fixed;
	right: 0;
}

.scroll-to-top
{
	border-width: 0 0 1px;
	z-index: 1030;
}

@media (min-width: 768px) {
.scroll-to-top{
	right: 10px;}
}

.fixed-top
{
    top: 0;
    border-width: 0 0 1px;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}

.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner{
min-height: 400px;
}

.carousel {
  height: 400px;
}
.carousel .item {
  height: 400px;
}

.no-carousel {
  height: 100px;
  margin-bottom: 50px;
}

@media (min-width: 992px) { 
.modal-dialog{width:36%;}
.modal-dialog45{width:45%;}
}