DirectoryIndex app.php
SetEnv PROD_MODE 0

<IfModule mod_rewrite.c>
RewriteEngine On
# Determine the RewriteBase automatically and set it as environment variable.
# If you are using Apache aliases to do mass virtual hosting or installed the
# project in a subdirectory, the base path will be prepended to allow proper
# resolution of the app.php file and to redirect to the correct URI. It will
# work in environments without path prefix as well, providing a safe, one-size
# fits all solution.
RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
RewriteRule ^(.*) - [E=BASE:%1]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^app\.php(/(.*)|$) %{ENV:BASE}/$2 [R=301,L]

# Tell Apache that if the requested filename
# exists, simply serve it (only files and not directories).
# Otherwise, rewrite all other queries to app.php.
# RewriteRule ^admin/ app.php?APP=Backend [QSA,L]
# RewriteRule ^joe/ app.php?APP=Backend [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ %{ENV:BASE}/app.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
#envoyer erreur
</IfModule>